
{% extends 'base.html' %} {% block content %}

{% for row in edit_buku %}
<form method="POST" action="" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="form-group row">
          <label for="kodebuku" class="col-2 col-form-label">Kode Buku</label> 
          <div class="col-8">
            <input id="kodebuku" name="kodebuku" value="{{ row.kodebuku }}" placeholder="Kode Buku" type="text" required="required" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label for="judul" class="col-2 col-form-label">Judul</label> 
          <div class="col-8">
            <input id="judul" name="judul" placeholder="Judul" value="{{ row.judul }}" type="text" required="required" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label for="penerbit" class="col-2 col-form-label">Penerbit</label> 
          <div class="col-8">
            <input id="penerbit" name="penerbit" value="{{ row.penerbit }}" type="text" placeholder="Penerbit" class="form-control" required="required">
          </div>
        </div>
        <div class="form-group row">
          <label for="pengarang" class="col-2 col-form-label">Pengarang</label> 
          <div class="col-8">
            <input id="pengarang" name="pengarang" value="{{ row.pengarang }}" placeholder="Pengarang" type="text" required="required" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label for="thnterbit" class="col-2 col-form-label">Tahun Terbit</label> 
          <div class="col-8">
            <input id="thnterbit" name="thnterbit" value="{{ row.thnterbit }}" placeholder="Tahun Terbit" type="text" class="form-control" required="required">
          </div>
        </div>
        <div class="form-group row">
          <label for="kotaterbit" class="col-2 col-form-label">Kota Terbit</label> 
          <div class="col-8">
            <input id="kotaterbit" name="kotaterbit" value="{{ row.kotaterbit }}" type="text" class="form-control" placeholder="Kota Terbit" required="required">
          </div>
        </div> 
        <div class="form-group row">
          <label for="bahasa" class="col-2 col-form-label">Bahasa</label> 
          <div class="col-8">
            <input id="bahasa" name="bahasa" type="text" placeholder="Bahasa" value="{{ row.bahasa }}" class="form-control" required="required">
          </div>
        </div> 
        <div class="form-group row">
          <label for="edisi" class="col-2 col-form-label">Edisi</label> 
          <div class="col-8">
            <input id="edisi" name="edisi" type="text" placeholder="Edisi" value="{{ row.edisi }}" class="form-control" required="required">
          </div>
        </div> 
       
        <hr>
        <div class="form-group row">
          <div class="offset-4 col-8">
            <button name="submit" type="submit" value="{{ row.sampul }}" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
{% endfor %}


{% endblock %}
