{% extends 'base.html' %} {% block content %}
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <center><h2>Laporan Anggota Perpustakaan</h2></center>
        <hr />

        <p>tanggal : 10/07/2022</p>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th scope="col">No Anggota</th>
              <th scope="col">Nama</th>
              <th scope="col">NIM/NIp</th>
              <th scope="col">Jurusan/Jabatan</th>
              <th scope="col">alamat</th>
              <th scope="col">No Telepon</th>
            </tr>
          </thead>
          <tbody>
            {% for m in anggota_m %}
            <tr>
              <td>{{ m.noanggotam }}</td>
              <td>{{ m.namaanggota }}</td>
              <td>{{ m.nim }}</td>
              <td>{{ m.jurusan }}</td>
              <td>{{ m.alamat }}</td>
              <td>{{ m.notelp }}</td>
            </tr>
            {% endfor %}
            {% for n in anggota_n %}
            <tr>
              <td>{{ n.noanggotan }}</td>
              <td>{{ n.namaanggota }}</td>
              <td>{{ n.nip }}</td>
              <td>{{ n.jabatan }}</td>
              <td>{{ n.alamat }}</td>
              <td>{{ n.notelp }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <div style="text-align: right">
          <p>Mengetahui &emsp; &emsp; &emsp;</p>
          <p>Kepala Perpustakaan &emsp;</p>
          <br /><br /><br />
          <p>(Drs. Suwanto) &emsp; &emsp;&emsp;</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
