{% extends 'menu/index.html' %} {% block content %}
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2>Data Anggota Mahasiswa</h2>
        <a href="{% url 'form_mahasiswa' %}" class="btn btn-primary mb-3"
          >Tambah Data</a
        >
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th scope="col">No Anggota</th>
              <th scope="col">Nama Lengkap</th>
              <th scope="col">NIM</th>
              <th scope="col">Jenis Kelamin</th>
              <th scope="col">Tempat Lahir</th>
              <th scope="col">Tanggal Lahir</th>
              <th scope="col">Jurusan</th>
              <th scope="col">Angkatan</th>
              <th scope="col">Foto</th>
              <th scope="col">Aksi</th>
            </tr>
          </thead>
          <tbody>
            {% for mahasiswa in list_mahasiswa %}
            <tr>
              <td>{{ mahasiswa.noanggotam }}</td>
              <td>{{ mahasiswa.namaanggota }}</td>
              <td>{{ mahasiswa.nim }}</td>
              <td>{{ mahasiswa.jeniskelamin }}</td>
              <td>{{ mahasiswa.tempatlahir }}</td>
              <td>{{ mahasiswa.tanggallahir }}</td>
              <td>{{ mahasiswa.jurusan }}</td>
              <td>{{ mahasiswa.angkatan }}</td>
              <td>{{ mahasiswa.poto }}</td>
              <td>
                <a
                  href="edit/{{ mahasiswa.noanggotam }}"
                  class="btn btn-warning"
                  >Edit</a
                >
                <br />
                <br />
                <a
                  href="delete/{{ mahasiswa.noanggotam }}"
                  class="btn btn-danger"
                  onclick="return confirm('Hapus Data Anggota ?')"
                  >Delete</a
                >
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
